table{
    width: 90%;
    margin: auto;
}
td,th{
    text-align: center !important;
}
.mat-paginator{
    width: 90%;
    margin: auto;
}
.userAvatar{
    width: 15%;
    padding: 5px;
    border-radius: 100%;
}